Repository kmozurkewich/storj, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aleitner, @navillasa, @bryanchriswhite, @jenlij

.github/CODEOWNERS:

# storagenode
/storagenode/ @aleitner

# audits
/satellite/audit/ @navillasa

# node identity
/pkg/certificates/ @bryanchriswhite
/pkg/identity/ @bryanchriswhite
/pkg/peertls/ @bryanchriswhite
/pkg/transport/ @bryanchriswhite

# repair
/satellite/repair/ @jenlij

# kademlia
/pkg/kademlia/ @jenlij

adding publickey entries to certRecorddb from peerIdentity
  pkg/kademlia/inspector.go
  pkg/kademlia/kademlia.go
  pkg/kademlia/kademliaclient/kademliaclient.go
  satellite/discovery/service.go
  satellite/peer.go
Owners: @jenlij

code review updates
  pkg/kademlia/kademlia_planet_test.go
  satellite/discovery/service.go
  satellite/satellitedb/certdb.go
  storagenode/monitor/monitor_test.go
Owners: @jenlij, @aleitner

renamed certRecords table column id-->node_id, and made changes in migration db, and cert test cases
  satellite/satellitedb/certdb.go
  satellite/satellitedb/dbx/satellitedb.dbx
  satellite/satellitedb/dbx/satellitedb.dbx.go
  satellite/satellitedb/dbx/satellitedb.dbx.postgres.sql
  satellite/satellitedb/dbx/satellitedb.dbx.sqlite3.sql
  satellite/satellitedb/migrate.go
  satellite/satellitedb/testdata/postgres.v50.sql
Owners: none

add a unique autoincrement column id
  satellite/satellitedb/dbx/satellitedb.dbx
  satellite/satellitedb/dbx/satellitedb.dbx.go
  satellite/satellitedb/dbx/satellitedb.dbx.postgres.sql
  satellite/satellitedb/dbx/satellitedb.dbx.sqlite3.sql
  satellite/satellitedb/migrate.go
  satellite/satellitedb/testdata/postgres.v50.sql
Owners: none

changed the publickey column to 'UNIQUE'
  satellite/satellitedb/dbx/satellitedb.dbx
  satellite/satellitedb/dbx/satellitedb.dbx.go
  satellite/satellitedb/dbx/satellitedb.dbx.postgres.sql
  satellite/satellitedb/dbx/satellitedb.dbx.sqlite3.sql
  satellite/satellitedb/migrate.go
  satellite/satellitedb/testdata/postgres.v50.sql
Owners: none

renamed certRecords column publickey->peer_identity and necessary mods in migration db as well
  satellite/satellitedb/certdb.go
  satellite/satellitedb/dbx/satellitedb.dbx
  satellite/satellitedb/dbx/satellitedb.dbx.go
  satellite/satellitedb/dbx/satellitedb.dbx.postgres.sql
  satellite/satellitedb/dbx/satellitedb.dbx.sqlite3.sql
  satellite/satellitedb/migrate.go
  satellite/satellitedb/testdata/postgres.v50.sql
Owners: none

Move keylock to overlay cache
  internal/sync2/keylock_test.go
  satellite/overlay/combinedcache.go
  satellite/overlay/keylock.go
  satellite/overlay/keylock_test.go
Owners: none
